<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Login">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/passcom.css">
        <link rel="stylesheet" href="/styles/navcss.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    </head>

    <body>
        <nav>
            <div class="logo">
                <span class="material-symbols-outlined logosym">departure_board</span>
            </div>
            <div class="navlinks">
                <span class="material-symbols-outlined burger" id="burmenu">menu</span>
                <div class="links">
                    <a href="/coordinator">Schedule</a>
                    <a href="/coordinator/announcements">Announcements</a>
                </div>
            </div>
        </nav>
        <main>
            
            <h1>Announcement Added</h1>
            <div id="ack">
            <p>The announcement has been submitted. The passengers will be notified of the announcement immediately.</p>
            </div>
        </main>
        <footer>

        </footer>
        
    </body>
</html>
