<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Login">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/passcom.css">
        <link rel="stylesheet" href="/styles/navcss.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    </head>

    <body>
        <nav>
            <div class="logo">
                <span class="material-symbols-outlined logosym">departure_board</span>
            </div>
            <div class="navlinks">
                <span class="material-symbols-outlined burger" id="burmenu">menu</span>
                <div class="links">
                    <a href="/coordinator">Schedule</a>
                    <a href="/coordinator/announcements">Announcements</a>
                </div>
            </div>
        </nav>
        <main>
            <h1>Announcements</h1>
            <form id="announcements" action="/coordinator/addannouncement" method="POST">
                
                <label for="busno">Bus number </label>
                <input type="text" placeholder="bus" name="busno" id="busno" required>

                <label for="subject">Subject of announcement </label>
                <input type="text" placeholder="subject" name="subject" id="subject" required>

                <label for="description">Description of the announcement</label>
                <textarea placeholder="Explain in detail" name="description" id="description"></textarea>

                <div>
                <button class="btn" type="submit">Submit</button>
                <button type="reset" value="reset" class="btn">Clear</button>
                </div>
                
            </form>
        </main>
        <footer>

        </footer>
        
    </body>
   
</html>
