<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Free Web tutorials">
        <meta name="keywords" content="HTML, CSS, JavaScript">
        <meta name="author" content="John Doe">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <form method="POST" action="/">
            <h1>LOGIN</h1>
            <label for="email">Email </label>
            <input type="email" id="email" name="email">
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
            <input type="radio" id="admin" name="role" value="admin">
            <label for="admin">admin</label>
            <input type="radio" id="passenger" name="role" value="passenger">
            <label for="passenger">passenger</label>
            <input type="radio" id="coordinator" name="role" value="coordinator">
            <label for="coordinator">coordinator</label>
            <input type="radio" id="maintenance" name="role" value="maintenance">
            <label for="maintenance">maintenance</label>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>