<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Login">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/passann.css">
        <link rel="stylesheet" href="/styles/navcss.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    </head>

    <body>
        <nav>
            <div class="logo">
                <span class="material-symbols-outlined logosym">departure_board</span>
            </div>
            <div class="navlinks">
                <span class="material-symbols-outlined burger" id="burmenu">menu</span>
                <div class="links">
                    <a href="/passenger">Schedule</a>
                    <a href="/passenger/announcements">Announcements</a>
                    <a href="/passenger/complaints">Complaints</a>
                </div>
            </div>
        </nav>
        <main>
            <h1>Announcements</h1>
            <div id="announcements">
                
            </div>
        </main>
        <footer>

        </footer>
        
    </body>
    <script src="/logic/announcelogic.js"></script>
</html>
